.wrapper {
  margin-top: 3rem;
}
.heading {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.label {
  font-weight: bolder;
  padding: 0.75rem;
  border: 1px dotted black;
}
.content {
    margin-top: 1rem;
}
.active {
    background-color: rgb(84, 162, 231);
}