body {
  margin: 0;
  padding: 0;
}

.search-engine {
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.search-engine input {
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: #555555;
}
.search-engine button {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 25px;
}
.weather-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.weather-container h2 span {
  font-size: 16px;
  color: #777;
  margin-left: 10px;
}

.date {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.temperature {
  font-size: 18px;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  margin: 10px 0;
  text-transform: capitalize;
}

.weather-info {
  margin-top: 15px;
}

.weather-info p {
  margin: 5px 0;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}
